<%if (typeof comments == "undefined" || comments !== false) {%>
    <section class="comments">
        <div id="disqus_thread" ></div>
        <script>
        var disqus_config = function () {
            <%var this_permalink = site.url + permalink%>
            this.page.url = "<%=this_permalink%>"
            this.page.title = "<%=title%>"
            this.page.identifier = "<%=this_permalink%>"
        };
        (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = '<%= site.discuss_src%>';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </section>
<%}%>
