<%if (typeof opts.no_search =="undefined" && opts.no_search !== true) {%>
   <div class="search">
      <div class="search-box search-hide">
         <i class="fontello icon-search search-trigger" aria-hidden="true"></i><input id="search"></input>
      </div>
   </div>
<%}%>