<%if (typeof categories !=="undefined" || typeof tags !=="undefined") {
    %>
    <div class="taxnms">
        <%if (typeof tags !=="undefined") {%>
            <%for (tag of tags) {
                safetag = site.tags[tag].nicename%>
                <a href="/tag/<%=safetag%>">
                    <div class="tags">
                        <%=tag%>
                    </div>
                </a>
            <%}%>
        <%}%>
    </div>
<%}%>
