<%var opts = {}
opts.is_single = true
opts.has_share = true%>
<%- include partials/head.ejs %>
<%- include partials/header.ejs %>
<main class="container">
    <%- include content/post.ejs %>
</main>
<%- include partials/footer.ejs %>
